*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: var(--font-poppins);
}

//Deshabilita las flechas de los inputs type number:
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}