
.person{
  
  &__row{
    display:flex;
    width: 100%;
    margin-top: 10px;  
  }

  &__box{
    width: 100%;
    padding: 10px;
    margin: 0px 1px;
    background-color: white;
    border-width: 1px;
    border-color: black;
  }

  &__customLink {
    text-decoration: none;
    color: initial;
  }
}

tbody, tbody tr{

  border-bottom: 1px solid #777777;

}

tbody tr:hover{
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transform: scale(1.01);
  background-color: #e4e4e4;
}

tbody, tbody tr:nth-of-type(even){
  background-color:#f3f3f3;
}

tbody tr:last-of-type{
  border-bottom:2px solid #009879;
}

