.person{
  display:flex;
  width: 100%;
  margin-top: 10px;
 
  &_box{
    width: 100%;
    padding: 10px;
    margin: 0px 1px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    
  }
}